<!-- go_to_goal.launch -->

<launch>
  <arg name="namespace" default="" />

  <node pkg="controllers" type="simple_go_to_goal" name="go_to_goal"  output="screen" ns="$(arg namespace)" >
    <param name="nominal_velocity" value="0.5" />
    <param name="trans_vel_gain"   value="0.5" />
    <param name="rot_vel_gain"     value="1.0" />
  </node>
</launch>
