<!-- turtlebot_vehicle.launch -->

<launch>
  <arg name="namespace" />

  <include file="$(find turtlebot_launch)/launch/include/description.launch.xml">
    <arg name="model" value="waffle_pi" />
    <arg name="robot_tf_prefix" value="$(arg namespace)/"/>
  </include>

  <node pkg="turtlebot_sim" type="turtlebot_vehicle" name="turtlebot_vehicle" output="screen" ns="$(arg namespace)" />
</launch>
