<!-- rand_goal.launch -->

<launch>
  <arg name="mocab_address" default="192.168.1.109" />
  <arg name="robot1_tag"    default="turtlebot1" />
  <arg name="robot2_tag"    default="turtlebot2" />
  <arg name="robot3_tag"    default="turtlebot0" />
  <arg name="robot4_tag"    default="wafflebot0" />

  <node pkg="vrpn_client_ros" type="vrpn_client_node" name="vrpn_client_node" output="screen" >
    <rosparam subst_value="true">
      server: $(arg mocab_address)
      port: 3883

      update_frequency: 100
      trackers:
        - $(arg robot1_tag)
    </rosparam>
    <remap from="vrpn_client_node/turtlebot1/pose" to="robot1/pose" />
  </node>

  <include file="$(find multi_topology_demo)/launch/robot_setup.launch" ns="robot1" >
    <arg name="namespace"         value="robot1"        />
    <arg name="address"           value="$(arg robot1_tag)"        />
    <arg name="user"              value="grant"                    />
  </include>

  <node name="go_to_goal" pkg="controllers" type="simple_go_to_goal" output="screen" ns="robot1" >
    <param name="nominal_velocity" value="0.5" />
    <param name="trans_vel_gain"   value="0.5" />
    <param name="rot_vel_gain"     value="1.0" />
  </node>

  <include file="$(find multi_topology_demo)/launch/robot_setup.launch" ns="robot2" if="false" >
    <arg name="namespace"         value="robot2"        />
    <arg name="address"           value="$(arg robot2_tag)"        />
    <arg name="user"              value="luke"                     />
  </include>

  <include file="$(find multi_topology_demo)/launch/robot_setup.launch" ns="robot3" if="false" >
    <arg name="namespace"         value="robot3"        />
    <arg name="address"           value="$(arg robot3_tag)"        />
    <arg name="user"              value="noah"                     />
  </include>

  <include file="$(find multi_topology_demo)/launch/robot_setup.launch" ns="$robot4" if="false" >
   <arg name="namespace"         value="robot4"        />
   <arg name="dynamics_model"    value="$(arg dynamics_model)"    />
   <arg name="address"           value="$(arg robot4_tag)"        />
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot_launch)/rviz/Turtlebot_multi.rviz"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch" if="false" >
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_house.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="false" />
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <node name="topology_graph" pkg="go2goal" type="topology_goal_generator" output="screen" />

</launch>
